.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media (min-width: 768px) {
    .about-container {
        padding: 20px 30%;
    }
}

.image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.image > img {
    width: 100%;
}

.details {
    width: 100%;
}

.about-section, .details-section {
    padding: 10px ;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.details-section p {
    margin: 10px 0 ;
}

.footer {
    display: flex;
    gap: 20px;
}

.fix {
    position: fixed;
}