.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px) brightness(0.7); /* Apply blur to the whole overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

@media (max-width: 575.98px) {
  .profile-container {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .profile-pic-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: rgba(148, 148, 148, 0.8);
  }

  .edit-profile-btn {
    width: 150px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .setting-section, .contact-section {
    width: "100%";
    padding: 20px 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
  }

  .signout-btn {
    margin-top: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
  }
}

/* .profile-container {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
  height: auto;
} */

.profile-header {
  display: flex;
  justify-content: space-between;
}

.profile-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* width: 400px; */
}

.profile-field {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

.profile-field > input {
  width: 300px;
  border: none;
  background: none;
  font-size: large;
  padding: 5px 10px;
}

.no-user > h1 {
  color: rgb(95, 95, 95);
  text-align: center;
  margin: 20px 0;
}

.signin-btn {
  cursor: pointer;
  width: 100%;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px 50px;
  background-color: rgb(95, 95, 95);
  transition: 0.3s ease;
}

.signin-btn:hover {
  background-color: rgb(77, 77, 77);
}

.profile-btn {
  padding: 5px 8px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(95, 95, 95);
  transition: 0.3s ease;
  cursor: pointer;
}

.close:hover {
  background-color: red;
}

.signout:hover {
  background-color: rgb(77, 77, 77);
}

.save:hover {
  background-color: green;
}
